<nav class="navbar {{ page.navbar_class }}">
    <div class="container nav-container">
        <div class="logo">
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/assets/img/logoinsight.png" alt="Observatório da Estratégia">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="{{ site.baseurl }}/projetos.html" class="{% if page.url == '/projetos.html' %}active{% endif %}">Projetos</a></li>
            <li><a href="{{ site.baseurl }}/dashboards.html" class="{% if page.url == '/dashboards.html' %}active{% endif %}">Dashboards</a></li>
            <li><a href="{{ site.baseurl }}/publicacoes.html" class="{% if page.url == '/publicacoes.html' %}active{% endif %}">Publicações</a></li>
            <li><a href="{{ site.baseurl }}/equipe.html" class="{% if page.url == '/equipe.html' %}active{% endif %}">Equipe</a></li>
            <li class="nav-utils-group" style="display: flex; align-items: center; gap: 15px;">
                <a href="{{ site.baseurl }}/colabore.html" class="nav-btn">Colabore</a>
                <div class="nav-actions-group" style="display: flex; align-items: center; gap: 4px;">
                <button id="lang-toggle-btn" class="circular-btn lang-toggle notranslate" onclick="toggleLanguage()" title="Mudar Idioma">EN</button>
                
            </li>
        </ul>
    </div>
</nav>
